 <%- include("partials/header.ejs") %> 

<div
  class="flex flex-col px-6 md:px-12 lg:flex lg:flex-row lg:flex-end lg:gap-60 lg:px-40 lg:justify-center lg:mt-30 mt-20"
>
  <div class="rounded mb-8 md:mb-16 lg:mb-0">
    <img src="images/me.jpg" alt="Author's image" class="self-end rounded" />
  </div>
  <div class="lg:flex lg:text-lg">
    <p class="lg:self-end">
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium voluptatum deleniti atque corrupti quos dolores et quas
      molestias excepturi sint occaecati cupiditate non provident, similique
      sunt in culpa qui officia deserunt mollitia animi, id est laborum et
      dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
      Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
      impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
      assumenda est, omnis dolor repellendus.
    </p>
  </div>
</div>

<%- include("partials/footer.ejs") %>
