<%- include("partials/header.ejs") %>

<div class="flex flex-row  flex-end gap-60 lg:px-40 justify-center mt-30  ">
  <div >
    <img src="images/me.jpg" alt="Author's image" class="rounded" />
  </div>
  <div class="flex text-lg">
    <p class="self-end" >
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium voluptatum deleniti atque corrupti quos dolores et quas
      molestias excepturi sint occaecati cupiditate non provident, similique
      sunt in culpa qui officia deserunt mollitia animi, id est laborum et
      dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
      Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
      impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
      assumenda est, omnis dolor repellendus.
    </p>
  </div>
</div>

<%- include("partials/footer.ejs") %>
