<%- include("partials/header.ejs") %>

<div class="flex justify-center m-auto lg:px-10">
  <div class="flex justify-between items-center gap-30">
    <div class="flex flex-col h-[500px] w-[500px] justify-center">
      <h1 class="font-black mb-5">Connect with us</h1>
      <p class="mb-5 tracking-wider text-base">
        Many desktop publishing packages and web page editors now use Lorem
        Ipsum as their default model text, and a search for 'lorem ipsum' will
        uncover many web sites still in their infancy. Various versions have
        evolved over the years, sometimes by accident.
      </p>

      <p class="tracking-wider mb-5">What's your email?</p>
      <input type="text" name="" id="" class="border rounded border-black" />
      <a href="/submit"> <button class="bg-black mt-5 w-[100px] rounded text-white text-base">Submit</button></a>
     
    </div>

    <div class="h-[300px] w-[400px] border-0  " ><video src="https://framerusercontent.com/assets/VPjSVKtA2t8QpWGVBJDs23sPH5E.mp4" loop autoplay class="border-0 size-full"></video></div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
