<%- include("partials/header.ejs") %>

<div>
  <div class="m-auto lg:px-10 flex flex-col lg:block">
    <div class=" flex flex-col px-6 sm:mx-auto  lg:flex-row lg:justify-center lg:gap-40 lg:items-center mt-20 ">
      <div class="flex flex-col md:h-[500px] md:w-[500px] justify-center">
        <h1 class="font-black mb-5">Connect with us</h1>
        <p class="mb-5 tracking-wider text-lg">
          Many desktop publishing packages and web page editors now use Lorem
          Ipsum as their default model text, and a search for 'lorem ipsum' will
          uncover many web sites still in their infancy. Various versions have
          evolved over the years, sometimes by accident.
        </p>

        <p class="tracking-wider mb-5 text-lg">What's your email?</p>
        <input type="text" name="" id="" class="border rounded border-black" />
        <a href="/submit">
          <button class="bg-black mt-5 w-[100px] rounded text-white text-base">
            Submit
          </button></a
        >
      </div>

      <div class="md:h-[300px] md:w-[400px] border-0 mx-auto h-[250px] w-[350px] mt-20">
        <video
          src="https://framerusercontent.com/assets/VPjSVKtA2t8QpWGVBJDs23sPH5E.mp4"
          loop
          autoplay
          class="border-0 size-full"
        ></video>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
