<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link href="./styling/output.css" rel="stylesheet" />
  </head>
  <body>
    <header class="bg-gray-300 py-6">
      <nav class="text-gray-600 flex justify-around tracking-wider">
        <div>
          <p>Klinks's Blog</p>
        </div>

       
            <a href="/" class=" ">HOME</a>
            <a href="/contact" class="mx-7">CONTACT US</a>
            <a href="">ABOUT ME</a>
   
        
        


        <div class="flex justify-center">
          <button class="mx-7">SIGN IN</button>
          <input
            type="text"
            placeholder="Search"
            class="bg-gray-200"
          />
          <button>go</button>
        </div>
      </nav>
    </header>

    <div class="mt-20 tracking-wider">
      <h1 class="flex justify-center text-gray-600">BLOG</h1>
    </div>
  </body>
</html>
