<%- include("partials/header.ejs") %>

<section class="px-6">
  <div class="mt-15 tracking-wider">
    <h1
      class="flex justify-center text-gray-500 lg:font-serif lg:text-8xl font-extralight mb-20"
    >
      BLOG
    </h1>
  </div>

  <div class="grid lg:grid-cols-3 lg:px-5 gap-6">
    <div
      class="border-1 rounded-3xl border-gray-200 flex flex-col items-center h-[450px]"
    >
      <p>Blog Title</p>
      <p>Created on</p>
    </div>
    <div
      class="border-1 rounded-3xl border-gray-200 flex flex-col items-center h-[450px]"
    >
      <p>Blog Title</p>
      <p>Created on</p>
    </div>
    <div
      class="border-1 rounded-3xl border-gray-200 flex flex-col items-center h-[450px]"
    >
      <p>Blog Title</p>
      <p>Created on</p>
    </div>
    <div
      class="border-1 rounded-3xl border-gray-200 flex flex-col items-center h-[450px]"
    >
      <p>Blog Title</p>
      <p>Created on</p>
    </div>
    <div
      class="border-1 rounded-3xl border-gray-200 flex flex-col items-center h-[450px]"
    >
      <p>Blog Title</p>
      <p>Created on</p>
    </div>
    <div
      class="border-1 rounded-3xl border-gray-200 flex flex-col items-center h-[450px]"
    >
      <p>Blog Title</p>
      <p>Created on</p>
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>

<!-- 
https://www.youtube.com/watch?v=0TxMHYCMALE&ab_channel=DaveGray -->
