<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./styling/output.css" rel="stylesheet" />
</head>
<body class="flex flex-col">
    <p class="bg-amber-500">ggg</p>
    <p class="bg-red-600">ffff</p>
</body>
</html>